#gallery{
    background-color: #1e2a78;
    color:white;
    margin-top: -4px;
    width: 99%;
}
#gallery>div{
    margin: auto;
    width: 40%;
    text-align: center;
    padding: 150px;
}

#gallery >div> h2 {
font-size: 38px;
}
